{% extends 'main/products.html' %}
{% load static %}

{% block description %}🎂 Купить недорогой бенто торт со скидкой 10% и доставкой по СПБ и Ленобласти! Звоните: 🌐Переходите на наш сайт! Звоните: 📞+7(921)593-66-39{% endblock %}

{% block title %}
Купить недорогой готовый бенто-торт в спб - ProstoPryanik
{% endblock %}

{% block topic1 %}
Хотите купить бето торт?
{% endblock %}

{% block topic2 %}
Сделаем бенто торт в кротчайшие сроки за адекватную цену
{% endblock %}

{% block price %}
{{ prices.bentoo_cakes_price }}
{% endblock %}

{% block min_count %}
Минимальный вес торта для заказа: 500г
{% endblock %}

{% block description_for_product %}
Наша домашняя кондитерская предлагает оригинальный вариант торта - бенто-торт! Это торт, который выглядит как японская коробка бенто, но вместо еды внутри - вкуснейший торт. Бенто-торт - это отличный выбор для празднования детских дней рождения, свадеб и других торжеств. Также их можно есть и не по праздникам. Мы используем только лучшие ингредиенты, чтобы создать вкусный десерт с ярким дизайном. Сделайте звказ и удивите своих гостей оригинальным тортом!
{% endblock %}

