{% extends 'main/products.html' %}
{% load static %}

{% block description %}🎂 Купить бенто торт без сахара  и без глютена со скидкой 10% и доставкой по СПБ и Ленобласти!  🌐Переходите на наш сайт! Звоните: 📞+7(921)593-66-39{% endblock %}

{% block title %}
Купить бенто торт без сахара и без глютена - ProstoPryanik
{% endblock %}

{% block topic1 %}
Хотите купить бенто торт без сахара  и без глютена?
{% endblock %}

{% block topic2 %}
Сделаем торт в кротчайшие сроки и за адекватную цену
{% endblock %}

{% block price %}
{{ prices.bentoo_cakes_for_diabetics_price }}
{% endblock %}

{% block min_count %}
Минимальный вес торта для заказа: 500г
{% endblock %}

{% block description_for_product %}
Наша домашняя кондитерская предлагает бенто-торты без сахара и без глютена - оригинальный и полезный вариант для любого торжества. Мы используем только качественные ингредиенты, чтобы создать вкусные и здоровые десерты. Такие бенто-торты - это идеальное решение для тех, кто следит за своим здоровьем, но не хочет отказываться от сладостей. Мы предлагаем различные варианты начинок. Закажите у нас бенто-торт без сахара и без глютена и наслаждайтесь вкусом полезных десертов!
{% endblock %}
