{% extends 'main/products.html' %}
{% load static %}

{% block description %}🎂 Купить торт без сахара и без глютена со скидкой 10% при первом заказе. Доставка по СПБ и Ленобласти. 🌐Переходите на наш сайт! Звоните: 📞+7(921)593-66-39{% endblock %}

{% block title %}
Купить торт без сахара и без глютена в спб и ленобласти - ProstoPryanik
{% endblock %}

{% block topic1 %}
Хотите купить торт без сахара и без глютена?
{% endblock %}

{% block topic2 %}
Сделаем торт в кротчайшие сроки за адекватную цену
{% endblock %}

{% block price %}
{{ prices.cakes_for_diabetics_price }}
{% endblock %}

{% block min_count %}
Минимальный вес торта для заказа: 1,5кг
{% endblock %}

{% block description_for_product %}
Наша домашняя кондитерская предлагает торты без сахара и без глютена для тех, кто следит за своим здоровьем, но не хочет отказываться от сладостей. Мы используем только качественные и проверенные ингредиенты, чтобы приготовить торты, которые будут не только вкусными, но и полезными. У нас есть разные варианты начинок без сахара и без глютена, включая торты с фруктами, ягодами и орехами. Насладитесь неповторимым вкусом тортов с пользой для вашего здоровья. Сделайте заказ прямо сейчас и наслаждайтесь вкусом наших тортов!
{% endblock %}

