{% extends 'main/products.html' %}
{% load static %}

{% block description %}Купить недорогие кейк попсы со скидкой 10% и доставкой по СПБ и Ленобласти. 🌐Переходите на наш сайт! Звоните: 📞+7(921)593-66-39{% endblock %}

{% block title %}
Купить кейк попсы в СПБ недорого - ProstoPryanik
{% endblock %}

{% block topic1 %}
Хотите купить кейк попсы?
{% endblock %}

{% block topic2 %}
Сделаем кейк попсы в кротчайшие сроки за адекватную цену
{% endblock %}

{% block price %}
{{ prices.cake_pops_price }}
{% endblock %}

{% block min_count %}
Минимальное количество штук в одном заказе: 8
{% endblock %}

{% block description_for_product %}
Наши кейк-попсы - это идеальное сочетание вкуса и эстетического удовольствия. Мы создаем их из натуральных ингредиентов и украшаем по-настоящему красиво. Каждый кейк-попс - это маленький шедевр, который можно не только съесть, но и насладиться его видом.</br>Если вы ищете красивый и необычный десерт для своего мероприятия, то наши кейк-попсы - это идеальный выбор. Они подходят для любых торжеств - от детских праздников до свадеб.</br>Наша домашняя кондитерская заботится о качестве продукции и всегда стремится предложить своим клиентам самые лучшие и оригинальные решения. Заказывайте и радуйтесь отличным дертам.
{% endblock %}
