{% extends 'main/products.html' %}
{% load static %}

{% block description %}🍬Купить недорогие конфеты со скидкой 10%  и доставкой по СПБ и Ленобласти. 🌐Переходите на наш сайт! Звоните: 📞+7(921)593-66-39{% endblock %}

{% block title %}
Купить конфеты в СПБ недорого - ProstoPryanik
{% endblock %}

{% block topic1 %}
Хотите купить конфеты?
{% endblock %}

{% block topic2 %}
Сделаем конфеты в кротчайшие сроки за адекватную цену
{% endblock %}

{% block price %}
{{ prices.chocolate_sweets_price }}
{% endblock %}

{% block min_count %}
Минимальное количество штук в одном заказе: 15
{% endblock %}

{% block description_for_product %}
Наша домашняя кондитерская предлагает вам насладиться вкусом роскошных шоколадных конфет, приготовленных из высококачественного бельгийского шоколада, которые будут вашими самыми любимыми сладостями. Мы добавляем только самые изысканные ингредиенты, чтобы создать наши конфеты. У нас есть разнообразные вкусы, включая молочный, темный и белый шоколад, а также различные начинки, такие как карамель, орехи и фрукты. Закажите шоколадные конфеты и насладитесь вкусом наших домашних лакомств прямо сейчас!
{% endblock %}
