{% extends 'main/products.html' %}
{% load static %}

{% block description %} 🎂Купить торт с любым декором и начинкой. Скидка 10% при первом заказе! Доставка по СПБ и Ленобласти. 🌐Переходите на наш сайт! Звоните: 📞+7(921)593-66-39{% endblock %}

{% block title %}
Купить торт в СПБ и Ленобласти, недорого и с доставкой - ProstoPryanik
{% endblock %}

{% block topic1 %}
Хотите купить торт?
{% endblock %}

{% block topic2 %}
Сделаем торт в кротчайшие сроки за адекватную цену
{% endblock %}

{% block price %}
{{ prices.classic_cakes_price }}
{% endblock %}

{% block min_count %}
Минимальный вес торта для заказа: 1,5кг
{% endblock %}

{% block description_for_product %}
Вы ищете идеальный торт для вашего праздника? Наша кондитерская рада предложить вкусные домашние торты на заказ! Мы создаем торты, учитывая пожелания заказчика, которые не только выглядят красиво, но и удовлетворяют даже самые изысканные вкусы. Используя только свежие и натуральные ингредиенты, мы изготавливаем торты, которые не оставят вас равнодушными.</br>Предлагаем широкий выбор тортов, включая классические варианты, такие как шоколадный и морковный, а также эксклюзивные торты, которые подойдут для любого особого случая.</br>При заказе торта у нас, вы можете быть уверены, что он будет готов к вашему празднику вовремя и выглядит так, как вы этого хотите. Мы уделяем большое внимание деталям и поможем воплотить все идеи создавая торт для вашего праздника.</br>Сделайте заказ прямо сейчас и наслаждайтесь вкусом и дизайном вашего торта!
{% endblock %}
