{% extends 'main/products.html' %}
{% load static %}

{% block description %}🧁 Купить недорогие капкейки без сахара и без глютена с доставкой по СПБ и Ленобласти. Скидка 10% при первом заказе.  🌐Переходите на наш сайт! Звоните: 📞+7(921)593-66-39{% endblock %}

{% block title %}
Купить капкейки без сахара и без глютена с доставкой в СПБ и Ленобласти - ProstoPryanik
{% endblock %}

{% block topic1 %}
Хотите купить капкейки без сахара и без глютена?
{% endblock %}

{% block topic2 %}
Сделаем капкейки в кротчайшие сроки за адекватную цену
{% endblock %}

{% block price %}
{{ prices.cupcakes_for_diabetics_price }}
{% endblock %}

{% block min_count %}
Минимальное количество штук в одном заказе: 6
{% endblock %}

{% block description_for_product %}
Наша домашняя кондитерская предлагает вам возможность насладиться вкусом сладостей, не нарушая свой рацион - капкейки без сахара и без глютена! Мы используем только качественные ингредиенты, чтобы приготовить вкусные и полезные капкейки. У нас есть различные варианты капкейков без сахара и без глютена, включая капкейки с ягодами, орехами и фруктами. Сделайте заказ и наслаждайтесь вкусом наших домашних лакомств, с пользой для здоровья!
{% endblock %}