{% extends 'main/products.html' %}
{% load static %}

{% block description %}🍭Купить леденцы из изомальта со скидкой 10% и доставкой в СПБ и Ленобласти. 🌐Переходите на наш сайт! Звоните: 📞+7(921)593-66-39{% endblock %}

{% block title %}
Купить леденцы из изомальта дешево в СПБ - ProstoPryanik
{% endblock %}

{% block topic1 %}
Хотите леденцы из изомальта?
{% endblock %}

{% block topic2 %}
Сделаем леденцы из изомальта в кротчайшие сроки за адекватную цену
{% endblock %}

{% block price %}
{{ prices.isomalt_lollipops_price }}
{% endblock %}

{% block min_count %}
Минимальное количество штук в одном заказе: 20
{% endblock %}

{% block description_for_product %}
Наша домашняя кондитерская предлагает вам насладиться натуральными и полезными леденцами из изомальта - идеальным выбором для тех, кто следит за своим здоровьем, но не хочет отказываться от сладостей. Изомальт - это отличный заменитель сахара, а леденцы из него - прекрасный способ утолить желание сладкого, не нарушая свой рацион. Мы используем только качественный изомальт Beneo. Закажите у нас леденцы из изомальта прямо сейчас и позвольте себе насладиться вкусом полезных лакомств!
{% endblock %}
