{% extends 'main/products.html' %}
{% load static %}

{% block description %}Купить натуральный мармелад со скидкой 10% и доставкой по СПБ и Ленобласти. 🌐Переходите на наш сайт! Звоните: 📞+7(921)593-66-39{% endblock %}

{% block title %}
Купить натуральный мармелад в СПБ - ProstoPryanik
{% endblock %}

{% block topic1 %}
Хотите купить мармелад?
{% endblock %}

{% block topic2 %}
Сделаем мармелад в кротчайшие сроки за адекватную цену
{% endblock %}

{% block price %}
{{ prices.marmelade_candies_price }}
{% endblock %}

{% block min_count %}
Минимальное количество штук в одном заказе: 20
{% endblock %}

{% block description_for_product %}
Наш мармелад изготавливается только из натуральных ингредиентов, без каких-либо искусственных красителей и ароматизаторов. Мы используем только свежие фрукты и ягоды, которые придают нашему мармеладу неповторимый вкус и аромат. В нашем ассортименте вы найдете мармелад на любой вкус: от классического апельсинового до экзотического манго и маракуйи. Попробуйте наш мармелад и вы точно останетесь довольны! Вы можете заказать его прямо сейчас!
{% endblock %}
