{% extends 'main/products.html' %}
{% load static %}

{% block description %}Купить пряники со скидкой 10% и доставкой в СПБ и Ленобласти. 🌐Переходите на наш сайт! Звоните: 📞+7(921)593-66-39{% endblock %}

{% block title %}
Купить пряники в СПБ - ProstoPryanik
{% endblock %}

{% block topic1 %}
Хотите купить пряники?
{% endblock %}

{% block topic2 %}
Сделаем пряники в кротчайшие сроки за адекватную цену
{% endblock %}

{% block price %}
{{ prices.painted_gingerbread_price }}
{% endblock %}

{% block min_count %}
Минимальное количество штук в одном заказе: 5
{% endblock %}

{% block description_for_product %}
Наша домашняя кондитерская представляет вам наши расписные пряники - это не только вкуснейшие лакомства, но и хороший подарок к празднику или сувенир. Мы используем только качественные ингредиенты, чтобы создать пряники, которые будут радовать вас свежестью и вкусом. У нас есть разнообразные варианты расписных пряников, включая пряники с глазурью или карамелью. Каждый пряник украшен ручной работой, чтобы порадовать глаз и вкусовые рецепторы. Закажите расписные пряники и насладитесь вкусом и красотой наших лакомств!
{% endblock %}
