{% extends 'main/products.html' %}
{% load static %}

{% block description %}🧁 Купить рулет с доставкой по СПБ и Ленобласти. Скидка 10% при первом заказе. 🌐Переходите на наш сайт! Звоните: 📞+7(921)593-66-39{% endblock %}

{% block title %}
Купить рулет в СПБ и Ленобласти - ProstoPryanik
{% endblock %}

{% block topic1 %}
Хотите купить рулет?
{% endblock %}

{% block topic2 %}
Сделаем рулет в кротчайшие сроки за адекватную цену
{% endblock %}

{% block price %}
{{ prices.roll_price }}
{% endblock %}

{% block min_count %}
Минимальное количество штук в одном заказе: 6
{% endblock %}

{% block description_for_product %}
Домашняя кондитерская ProstoPryanik предлагает широкий выбор вкусных и красиво оформленных рулетов, которые станут прекрасным угощением для любого мероприятия. Наши рулеты изготавливаются исключительно из натуральных ингредиентов, без консервантов и искусственных добавок. Мы предлагаем рулеты на любой вкус: от классического шоколадного и заварного крема до экзотических вариаций с фруктами и ягодами. Кроме того, каждый рулет упаковывается с любовью и вниманием к деталям, что делает его идеальным вариантом в качестве подарка или десерта для особого случая. Не упустите возможность порадовать себя и своих близких великолепными рулетами от ProstoPryanik. Наслаждайтесь неповторимым вкусом и безупречным качеством каждого кусочка!
{% endblock %}