{% extends 'main/products.html' %}
{% load static %}

{% block description %}🍭Купить леденцы со скидкой 10% и доставкой в СПБ и Ленобласти. 🌐Переходите на наш сайт! Звоните: 📞+7(921)593-66-39{% endblock %}

{% block title %}
Купить леденцы в СПБ - ProstoPryanik
{% endblock %}

{% block topic1 %}
Хотите купить леденцы?
{% endblock %}

{% block topic2 %}
Сделаем леденцы в кротчайшие сроки за адекватную цену
{% endblock %}

{% block price %}
{{ prices.sugar_lollipops_price }}
{% endblock %}

{% block min_count %}
Минимальное количество штук в одном заказе: 20
{% endblock %}

{% block description_for_product %}
Наша домашняя кондитерская предлагает широкий выбор вкусных и качественных сладостей. Одним из наших бестселлеров являются леденцы.</br>В нашем ассортименте вы найдете различные формы и цвета леденцов, которые могут стать ярким дополнением к любому подарку или сладкому букету. Наши леденцы идеально подойдут для детских праздников, свадеб, корпоративных мероприятий или просто как сладкое угощение для себя и близких.
{% endblock %}
